nav {
  height: 5rem;
}

nav > .navContainer {
  height: 5rem;
}

nav > .navContainerBorder {
  border-bottom: 1px solid var(--borderColor);
}

nav > .navContainer > .navLogo > a > img {
  width: 40%;
  height: auto;
}
nav > .navContainer > .mainMenu > ul {
  list-style: none;
}

nav > .navContainer > .mainMenu > ul > li > a {
  color: var(--mainBlue);
}

nav > .navContainer > .mainMenu > a {
  background-color: var(--mainBlue);
  padding: 0.5rem;
  color: white;
}
