.assessmentsData {
  padding: 1rem 0;
  min-height: 50vh;
}
.assessmentsData table {
  width: 100%;
  border-collapse: collapse;
}

.assessmentsData table,
th,
td {
  border: 1px solid #ddd;
}

.assessmentsData th,
td {
  text-align: left;
  padding: 8px;
}

.assessmentsData th,
td a {
  color: var(--mainBlue);
}

.assessmentsData th {
  background-color: #f2f2f2;
}

.aProfileBtn {
  background-color: rgba(0, 34, 85, 0.7);
  text-align: center;
  transition: 0.2s all ease-in-out;
}

.aProfileBtn:hover {
  background-color: var(--mainBlue);
}

.aProfileBtn > a {
  color: white;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .assessmentsData th,
  td {
    display: block;
    width: 100%;
  }

  .assessmentsData th {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .assessmentsData tr {
    border-bottom: 1px solid #ddd;
  }
}
