.myProfile {
  padding: 1rem 0;
}
.myProfile > .myProfileContainer {
  padding: 1rem;
  background-color: var(--bgGrey);
  border-radius: 0.3rem;
}

.myProfile > .myProfileContainer > h1 {
  font-size: var(--h1);
  font-weight: 500;
  margin: 0 0 1rem 0;
}

.myProfile > .myProfileContainer > h1 > span {
  font-size: 1.5rem;
}

.myProfile > .myProfileContainer > .myProfileInfo {
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  padding-top: 1rem;
}

.myProfile > .myProfileContainer > .myProfileInfo > .myProfileTab {
  margin: 0 0 1rem 0;
  gap: 1rem;
}

.myProfile
  > .myProfileContainer
  > .myProfileInfo
  > .myProfileTab
  > .myProfileLeft {
  width: 10rem;
  border-right: 1px solid var(--borderColor);
}

.myProfile
  > .myProfileContainer
  > .myProfileInfo
  > .myProfileTab
  > .myProfileLeft
  > h3 {
  font-size: var(--h4);
  font-weight: 600;
}

.myProfile
  > .myProfileContainer
  > .myProfileInfo
  > .myProfileTab
  > .myProfileRight
  > p {
  font-size: var(--h4);
}
.myProfile > .myProfileContainer > .myProfileButtons {
  margin: 1rem 0 0 0;
}

.myProfile > .myProfileContainer > .myProfileButtons > .myProfileLogout {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #cc0000;
  color: white;
  font-size: 1rem;
  width: 12rem;
  cursor: pointer;
  text-align: center;
  border-radius: 0.3rem;
  transition: 0.2s all ease-in-out;
}

.myProfile > .myProfileContainer > .myProfileButtons > .myProfileLogout:hover {
  background-color: #ef4444;
}

.sendVCode {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--mainBlue);
  color: white;
  font-size: 1rem;
  width: 12rem;
  cursor: pointer;
  text-align: center;
  border-radius: 0.3rem;
  transition: 0.2s all ease-in-out;
}

.myProfile > .myProfileContainer > .myProfileButtons > .myProfileUpdate {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--mainBlue);
  color: white;
  font-size: 1rem;
  width: 12rem;
  cursor: pointer;
  text-align: center;
  border-radius: 0.3rem;
  transition: 0.2s all ease-in-out;
}

.myProfile > .myProfileContainer > .myProfileButtons > .myProfileUpdate > a {
  color: white;
}

.myProfile
  > .myProfileContainer
  > .myProfileButtons
  > .myProfileChangePassword {
  padding: 0.5rem 1rem;
  width: 12rem;
  cursor: pointer;
  background-color: var(--mainBlue);
  color: white;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  border-radius: 0.3rem;
  transition: 0.2s all ease-in-out;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .myProfile > .myProfileContainer > h1 {
    font-size: 1.7rem;
  }

  .myProfile > .myProfileContainer > .myProfileInfo > .myProfileTab {
    flex-direction: column;
    gap: 0.5rem;
  }

  .myProfile
    > .myProfileContainer
    > .myProfileInfo
    > .myProfileTab
    > .myProfileLeft {
    border: none;
  }

  .myProfile
    > .myProfileContainer
    > .myProfileInfo
    > .myProfileTab
    > .myProfileLeft
    > h3 {
    font-size: 1.2rem;
  }

  .myProfile
    > .myProfileContainer
    > .myProfileInfo
    > .myProfileTab
    > .myProfileRight
    > p {
    font-size: 1rem;
  }
  .myProfile > .myProfileContainer > .myProfileButtons {
    flex-direction: column;
  }
  .myProfile > .myProfileContainer > .myProfileButtons > .myProfileLogout {
    width: 100%;
    padding: 1rem;
  }
  .myProfile > .myProfileContainer > .myProfileButtons > .myProfileUpdate {
    width: 100%;
    padding: 1rem;
  }
  .myProfile
    > .myProfileContainer
    > .myProfileButtons
    > .myProfileChangePassword {
    width: 100%;
    padding: 1rem;
  }
}
