.assessments > .assessHeader {
  background-color: var(--bgGrey);
  padding: 1rem;
  margin: 0 0 1rem 0;
  border-radius: 0.3rem;
}

.assessments > .assessHeader > .searchAssessBar > .searchInput {
  width: 66.8%;
}

.assessments > .assessHeader > .searchAssessBar > .searchInput > input {
  width: 100%;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--borderColor);
  outline: none;
  border-radius: 0.3rem;
}

.assessments > .assessHeader > .searchAssessBar > .searchCategory {
  width: 32.2%;
}

.assessments > .assessHeader > .searchAssessBar > .searchCategory > select {
  width: 100%;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--borderColor);
  outline: none;
  border-radius: 0.3rem;
}

.assessments > .assessContainer > .allAssessmentsList {
  /* display: flex;
  align-items: flex-start;
  flex-wrap: wrap; */
  height: 33rem;
  /* gap: 1rem; */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
  gap: 1rem;
}

.assessments > .assessContainer > .allAssessmentsList > .assessmentCard {
  flex-basis: 32.7%;
  /* flex-grow: 1; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  /* margin: 0 0 1rem 0; */
  background-color: var(--bgGrey);
  border-radius: 0.3rem;
}

.assessments
  > .assessContainer
  > .allAssessmentsList
  > .assessmentCard
  > .assessmentCardContent {
  padding: 1rem 0 1rem 1rem;
}

.assessments
  > .assessContainer
  > .allAssessmentsList
  > .assessmentCard
  > .assessmentCardContent
  > h3 {
  font-size: var(--h3);
  font-weight: 500;
  margin: 0 0 1rem 0;
}

.assessments
  > .assessContainer
  > .allAssessmentsList
  > .assessmentCard
  > .assessmentCardContent
  > .accTab
  > .accTabLeft {
  width: 5.5rem;
  border-right: 1px solid var(--borderColor);
  margin: 0 0 0.5rem 0;
}

.assessments
  > .assessContainer
  > .allAssessmentsList
  > .assessmentCard
  > .assessmentCardContent
  > .accTab
  > .accTabRight {
  margin: 0 0 0 0.5rem;
}

.assessments
  > .assessContainer
  > .allAssessmentsList
  > .assessmentCard
  > .assessmentCardLink
  > a
  > .assessmentLinkIcon {
  background-color: var(--mainBlue);
  color: white;
  font-size: 2.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

.assessments > .assessContainer > .pagination {
  margin: 2rem 0 2rem 0;
  gap: 0.2rem;
}

.assessments > .assessContainer > .pagination > button {
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  border: 1px solid var(--mainBlue);
  background-color: var(--mainBlue);
  color: white;
  cursor: pointer;
  border-radius: 0.3rem;
}

.assessments > .assessContainer > .pagination > button:hover {
  background-color: transparent;
  color: var(--mainBlue);
  transition: 0.3s all ease-in-out;
}

.assessments > .assessContainer > .pagination > .active {
  background-color: white !important;
  color: var(--mainBlue);
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .assessments > .assessHeader > .searchAssessBar {
    flex-direction: column;
  }
  .assessments > .assessHeader > .searchAssessBar > .searchInput {
    width: 100%;
    margin: 0 0 0.5rem 0;
  }

  .assessments > .assessHeader > .searchAssessBar > .searchCategory {
    width: 100%;
  }

  .assessments > .assessContainer > .allAssessmentsList {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
  .assessments > .assessContainer > .allAssessmentsList > .assessmentCard {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .assessments > .assessContainer > .allAssessmentsList {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
  }
}
